<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" align="center">
                游戏猎人
            </div>
        </div>
        <ul class="nav navbar-nav">
                <li class="active"><a href="/index">当前页面</a></li>
                <li><a href="/query">数据查询</a></li>
                <li><a href="/plot">走势图显示</a> </li>
                <li><a href="/chart">百分比图显示</a> </li>
		<li><a href="/question">问题反馈</a> </li>
		<li><a href="/clubshop">商店数据</a> </li>
        </ul>
    </div>
</nav>